{{yield}}
<div class="sidebar-content m-5">
  <img src={{this.selectedStudent.attributes.image}} alt="student-image">
  <h5 class="pt-5 text-center">Name: {{this.selectedStudent.attributes.name}}</h5>
  <h5 class="text-center">Department: {{this.selectedStudent.attributes.domain}}</h5>
  <h5 class="text-center">Year: {{this.selectedStudent.attributes.year}}</h5>

</div>